@import "colors/colors"
@import "images/images"

@keyframes cloudsAnimation
  from

  to
    padding-left: 60vw

body
  background: url($background-image) fixed
  background-size: 100%
  color: $text-color
  #root
    position: relative
    z-index: 1

.clouds

  position: absolute
  opacity: 0.85
  top: 10vh
  animation-name: cloudsAnimation, bottomAnimation
  animation-duration: 20s, 20s
  animation-delay: 0s, 20s
  animation-iteration-count: infinite
  animation-direction: alternate
  animation-fill-mode: both
  animation-timing-function: linear
  .cloud1
    z-index: 2
    width: 40vw


.btn
  background-color: $button-color-normal
  border-radius: 5px
  outline: none

.btn-add
  padding: 5px

.btn:hover
  background-color: $button-color-hover